<header class="c-header" id="header">
  <div class="c-header__controls">
    <button type="button" class="c-header__switch t-nav u-hide-up@small" id="nav-switch">
      Menu
    </button>
  </div>
  <div class="c-navbar t-nav">
    <ul class="c-navbar__list o-list">
      <li class="c-navbar__item">
        <a href="#home">Home</a>
      </li>
      <li class="c-navbar__item"></li>
      <a href="#features">Features</a>
      <li class="c-navbar__item"></li>
      <a href="#templates">Templates</a>
      <li class="c-navbar__item">
        <a href="#contact">Contact</a>
      </li>
    </ul>
  </div>
</header>
