// header, div {
//   display: block;
// }
// .c-controls {
//   width: auto;
//   position: absolute;
//   top: 0;
//   z-index: 20;
// }
// .c-header {
//   position: fixed;
//   top: 0;
//   left: 0;
//   z-index: 10;
//   width: 100%;
// }
.c-navbar {
  height: auto;
  position: relative;
  z-index: 10;
  text-align: center;
  background-color: #F9B6B4;
  a {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    padding: 13px 20px;
    touch-action: manipulation;
    transition: all .3s ease;
    &:hover {
      color: #0a402b;
    }
  }
}
.c-navbar__list {
  // display: inline-block;
  margin: 0;
  &:hover {
    color: #b6bea8;
  }
}
.c-navbar__item {
  display: inline-block;
  &:hover {
    color: #0a402b;
  }
}
.t-nav {
  line-height: 1.5;
  text-transform: uppercase;
  text-spacing: .24em;
}
.o-list {
  list-style: none;
}
.u-hide-up\@small {
  display: none;
}

